<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Управление Классами</title>
    <link rel="stylesheet" type="text/css" href="css/form.css">
    <script th:inline="javascript" src="SubmitFormFunctions/Classroom.js"></script>
    <script th:inline="javascript" src="Utility/ToggleMenu.js"></script>

    <!-- Глобальные переменные JS -->
    <script th:inline="javascript">
        var GlobalArray = /*[[${classrooms}]]*/ null;
        var currentPage = 1;
        var totalPages = 1;
    </script>
</head>
<body>
<header>
    <img id="img1" src="css/burger.png" class="toggle-submenu" onclick="toggleMenu()">
    <a href="/requests">
        <img id="img2" src="css/zaprosi.png" class="toggle-submenu">
    </a>
    <!-- Выбор количества строк на странице -->
    <div>
        <label for="itemsPerPage">Строк на странице:</label>
        <select id="itemsPerPage" onchange="UpdateClassroomNavigationPanel(); GetClassroomPage(1, parseInt(itemsPerPage.value));">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="100" selected>100</option>
        </select>
    </div>
</header>

<div id="container1">
    <div id="container2">
        <div id="input">
            <button type="button" onclick="ShowDeleteForm()">Удалить</button>
            <button type="button" onclick="ShowEditForm()">Изменить</button>
            <button type="button" onclick="ShowCreateForm()">Создать</button>
        </div>

        <div id="forms">
            <!-- Форма изменения -->
            <form id="editForm" onsubmit="return validatePlaces() && SubmitEditClassroomForm(event);" method="post">
                <h1>Изменение Класса</h1>

                <input type="text" id="IdToEditClassroom" placeholder="Введите ID для изменения">

                <label for="edit_id_allocation">Местоположение:</label>
                <select id="edit_id_allocation" name="id_allocation" placeholder="ID Местоположения">
                    <option th:each="allocation : ${allocations}" th:value="${allocation.id}" th:text="
                            ${allocation.id} + ' ' +
                            ${allocation.pref} + ' ' +
                            ${allocation.street} + ' ' +
                            ${allocation.house} + ' ' +
                            ${allocation.room}"></option>
                </select>

                <label for="edit_current_num_of_places">Текущее Кол-во Мест:</label>
                <input type="text" id="edit_current_num_of_places" name="current_num_of_places" placeholder="Текущее Кол-во Мест">

                <label for="edit_max_num_of_places">Макс. Кол-во Мест:</label>
                <input type="text" id="edit_max_num_of_places" name="max_num_of_places" placeholder="Макс. Кол-во Мест">

                <label for="edit_department">Кафедра:</label>
                <input type="text" id="edit_department" name="department" placeholder="Отдел">

                <label for="edit_note">Примечание:</label>
                <input type="text" id="edit_note" name="note" placeholder="Примечание">

                <button type="submit">Отправить</button>
            </form>

            <!-- Форма создания -->
            <form id="createForm" onsubmit="return validatePlaces() && SubmitCreateClassroomForm(event);" method="post">
                <h1>Создание Класса</h1>

                <label for="create_id_allocation">Местоположение:</label>
                <select id="create_id_allocation" name="id_allocation" placeholder="ID Местоположения">
                    <option th:each="allocation : ${allocations}" th:value="${allocation.id}" th:text="
                            ${allocation.id} + ' ' +
                            ${allocation.pref} + ' ' +
                            ${allocation.street} + ' ' +
                            ${allocation.house} + ' ' +
                            ${allocation.room}"></option>
                </select>

                <label for="create_current_num_of_places">Текущее Кол-во Мест:</label>
                <input type="text" id="create_current_num_of_places" name="current_num_of_places" placeholder="Текущее Кол-во Мест">

                <label for="create_max_num_of_places">Макс. Кол-во Мест:</label>
                <input type="text" id="create_max_num_of_places" name="max_num_of_places" placeholder="Макс. Кол-во Мест">

                <label for="create_department">Кафедра:</label>
                <input type="text" id="create_department" name="department" placeholder="Отдел">

                <label for="create_note">Примечание:</label>
                <input type="text" id="create_note" name="note" placeholder="Примечание">

                <button type="submit">Отправить</button>
            </form>

            <!-- Форма удаления -->
            <div id="deleteForm">
                <h1>Удаление Класса</h1>

                <input type="text" id="IdToDeleteClassroom" placeholder="Введите ID для удаления">

                <button type="button" onclick="SubmitDeleteClassroomForm()">Удалить</button>
            </div>
        </div>
    </div>

    <div id="table">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>ID Местоположения</th>
                <th>Текущее Кол-во Мест</th>
                <th>Макс. Кол-во Мест</th>
                <th>Отдел</th>
                <th>Примечание</th>
            </tr>
            </thead>
            <tbody data-table-type="classroom">
            <!-- Здесь будет динамически заполняться таблица -->
            </tbody>
        </table>

        <!-- Место под панель навигации -->
        <div id="navigationPanel"></div>
    </div>
</div>
</body>
</html>