<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Управление Обслуживанием</title>
    <link rel="stylesheet" type="text/css" href="css/form.css">
    <script th:inline="javascript" src="SubmitFormFunctions/Maintenance.js"></script>
    <script th:inline="javascript" src="Utility/ToggleMenu.js"></script>

    <!-- Глобальные переменные JS -->
    <script th:inline="javascript">
        var GlobalArray = /*[[${maintenances}]]*/ null;
        var currentPage = 1;
        var totalPages = 1;
    </script>
</head>
<body>
<header>
    <img id="img1" src="css/burger.png" class="toggle-submenu" onclick="toggleMenu()">
    <a href="/requests">
        <img id="img2" src="css/zaprosi.png" class="toggle-submenu">
    </a>
    <!-- Выбор количества строк на странице -->
    <div>
        <label for="itemsPerPage">Строк на странице:</label>
        <select id="itemsPerPage" onchange="UpdateMaintenanceNavigationPanel(); GetMaintenancePage(1, parseInt(itemsPerPage.value));">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
            <option value="100" selected>100</option>
        </select>
    </div>
</header>

<div id="container1">
    <div id="container2">
        <div id="input">
            <button type="button" onclick="ShowDeleteForm()">Удалить</button>
            <button type="button" onclick="ShowEditForm()">Изменить</button>
            <button type="button" onclick="ShowCreateForm()">Создать</button>
        </div>

        <div id="forms">
            <!-- Форма изменения -->
            <form id="editForm" onsubmit="SubmitEditMaintenanceForm(event); return false;" method="post">
                <h1>Изменение Обслуживания</h1>

                <input type="text" id="IdToEditMaintenance" placeholder="Введите ID для изменения">

                <label for="edit_id_seat">Учебное место:</label>
                <select id="edit_id_seat" name="id_seat" placeholder="Учебное место">
                    <option th:each="seat: ${seats}" th:value="${seat.id}" th:text="
                            'ID: ' + ${seat.id} + ' ' +
                            'Номер: ' + ${seat.number} + ' ' +
                            'Имя: ' + ${seat.WS_name}"></option>
                </select>

                <label for="edit_id_equipment">Оборудование:</label>
                <select id="edit_id_equipment" name="id_equipment" placeholder="Оборудование">
                    <option th:each="equipment: ${Equipment}" th:value="${equipment.id}" th:text="
                            'ID: ' + ${equipment.id} + ' ' +
                            'Исправность: ' + ${equipment.p_i}"></option>
                </select>


                <label for="edit_installation_date">Дата Установки:</label>
                <input type="text" id="edit_installation_date" name="installation_date" placeholder="YYYY-MM-DD" onblur="validateDate(this)">

                <label for="edit_removal_date">Дата Удаления:</label>
                <input type="text" id="edit_removal_date" name="installation_date" placeholder="YYYY-MM-DD" onblur="validateDate(this)">

                <button type="submit">Отправить</button>
            </form>

            <!-- Форма создания -->
            <form id="createForm" onsubmit="SubmitCreateMaintenanceForm(event); return false;" method="post">
                <h1>Создание Обслуживания</h1>

                <label for="create_id_seat">Учебное место:</label>
                <select id="create_id_seat" name="id_seat">
                    <option th:each="seat: ${seats}" th:value="${seat.id}" th:text="
                            'ID: ' + ${seat.id} + ' ' +
                            'Номер: ' + ${seat.number} + ' ' +
                            'Имя: ' + ${seat.WS_name}"></option>
                </select>

                <label for="create_id_seat">Оборудование:</label>
                <select id="create_id_equipment" name="id_equipment">
                    <option th:each="equipment: ${Equipment}" th:value="${equipment.id}" th:text="
                            'ID: ' + ${equipment.id} + ' ' +
                            'Исправность: ' + ${equipment.p_i}"></option>
                </select>

                <label for="create_installation_date">Дата Установки:</label>
                <input type="text" id="create_installation_date" name="installation_date" placeholder="YYYY-MM-DD" onblur="validateDate(this)">


                <label for="create_removal_date">Дата Удаления:</label>
                <input type="text" id="create_removal_date" name="installation_date" placeholder="YYYY-MM-DD" onblur="validateDate(this)">


                <button type="submit">Отправить</button>
            </form>

            <!-- Форма удаления -->
            <div id="deleteForm">
                <h1>Удаление Обслуживания</h1>

                <input type="text" id="IdToDeleteMaintenance" placeholder="Введите ID для удаления">

                <button type="button" onclick="SubmitDeleteMaintenanceForm()">Удалить</button>
            </div>
        </div>
    </div>

    <div id="table">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>ID Места</th>
                <th>ID Оборудования</th>
                <th>Дата Установки</th>
                <th>Дата Удаления</th>
            </tr>
            </thead>
            <tbody data-table-type="maintenance">
            <!-- Здесь будет динамически заполняться таблица -->
            </tbody>
        </table>

        <!-- Место под панель навигации -->
        <div id="navigationPanel"></div>
    </div>
</div>
</body>
</html>